* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  background: #ff0f7b;
  background: linear-gradient(
    135deg,
    rgba(255, 15, 123, 1) 0%,
    rgba(248, 155, 41, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

section {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
  position: relative;
}

.quote-icon {
  font-size: 55px;
  background: #ff0f7b;
  background: linear-gradient(
    135deg,
    rgba(255, 15, 123, 1) 0%,
    rgba(248, 155, 41, 1) 100%
  );
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto 25px;
}

h1 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 44px;
}

.author {
  font-size: 16px;
  margin-bottom: 25px;
}

h1,
.author,
.quote-icon {
  transition: 0.6s;
}

.flash-animation {
  transform: translateY(-50px);
  opacity: 0;
}

.generate {
  font-size: 20px;
  padding: 15px;
  background: #ff0f7b;
  background: linear-gradient(
    135deg,
    rgba(255, 15, 123, 1) 0%,
    rgba(248, 155, 41, 1) 100%
  );
  border: none;
}

.generate:hover {
  color: white;
}

p {
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
